

	<div id="show-button-div">	
		<p ID="welcome"> BEM VINDO!</p>
		<input type="button" value="CLIQUE AQUI PARA INICIAR" id="show-button" onclick="showAll()" >

	</div>
  <div id="tl-principal"  class="hidden-objects content-box" >
  		<div class="row" id="tl-conteudo">
  			<div class = "col-5"> 
  				<p id="tl-text"> Neste Portfólio apresento mais sobre mim,<br>Breno da Silva Nogueira.<br><br>
                Busco mostrar com transparencia minhas habilidades atuais em desenvolvimento seja back ou front-end,
                também demonstrar capacidade de organização e clareza com um template simples, moderno e fácil de ler.</p>
  			</div >
  			<div class = "col-3" >
	        <div id="tl-slide">
                  <h3 id="tl-skillstitle">SKILLS</h3>
				  <img class="mySlidesSkills" id= "slide1" src="/images/skills/js.png" >
				  <img class="mySlidesSkills" src="/images/skills/html5.png" >
				  <img class="mySlidesSkills" src="/images/skills/css3.png" >
				  <img class="mySlidesSkills" src="/images/skills/sql.png" >
				  <img class="mySlidesSkills" src="/images/skills/plsql.png" >
				  <img class="mySlidesSkills" src="/images/skills/csharp.png" >
				  <img class="mySlidesSkills" src="/images/skills/python.png" >
				  <img class="mySlidesSkills" src="/images/skills/ruby.png" >

				  <button class="w3-button w3-black w3-display-left" onclick="plusDivsSkills(-1)">&#10094;</button>
				  <button class="w3-button w3-black w3-display-right" onclick="plusDivsSkills(1)">&#10095;</button>	
		    </div>
        </div>
    </div>



  </div>
  <div id="tl-principal"  class="hidden-objects content-box" > 
            <div id="tl-slide">
				  <img class="mySlidesCerts" id= "slide1" src="/images/certificados/cert-c-sharp.png" >
				  <img class="mySlidesCerts" src="/images/certificados/cert-html-css.png" >
				  <img class="mySlidesCerts" src="/images/certificados/cert-modelagem.png" >
				  <img class="mySlidesCerts" src="/images/certificados/cert-oracle-db.png" >
				  <img class="mySlidesCerts" src="/images/certificados/cert-powebi.png" >
				  <img class="mySlidesCerts" src="/images/certificados/cert-python-ds.png" >

				  <button class="w3-button w3-black w3-display-left" onclick="plusDivsCerts(-1)">&#10094;</button>
				  <button class="w3-button w3-black w3-display-right" onclick="plusDivsCerts(1)">&#10095;</button>
  </div>

  	<footer class="hidden-objects content-box">
  		  <div id="bot-principal">
  		  	<div id="bot-conteudo">
  		  		<p id="bot-text">INFORMAÇÕES GERAIS DE CONTATO</p>
  		  	</div>
  		  	<div>
  		  	<a href="https://www.whatsapp.com/">
	  		  	<input type="image" src="https://cdn-icons-png.flaticon.com/512/739/739247.png" id="bt-social" >	
	  		</a>
  		  	<a href="https://br.linkedin.com">
	  		  	<input type="image" src="https://cdn-icons-png.flaticon.com/512/1384/1384088.png" id="bt-social">	
	  		</a>

  		  	</div>
  		  </div>

  	</footer>

