<section class="content-div hidden-objects">
<div class="projects-div">
<h1 id= "working-text">EM CONSTRUÇÃO</h1>
<img src="https://cdn-icons-png.flaticon.com/512/8754/8754567.png" id="working-icon">
</div>
</section>