<footer class="content-box content-div">
   <div id="bot-principal">
      <div id="bot-conteudo">
         <p id="bot-text">INFORMAÇÕES GERAIS DE CONTATO</p>
      </div>
      <div>
         <a class="links-contact" href="https://wa.me/5565996248667" target="_blank">
         <input type="image" src="https://cdn-icons-png.flaticon.com/512/739/739247.png" id="bt-social" >	
         </a>
         <a class="links-contact" href="https://www.linkedin.com/in/breno-da-silva-nogueira-383063176/" target="_blank">
         <input type="image" src="https://cdn-icons-png.flaticon.com/512/1384/1384088.png" id="bt-social">	
         </a>
      </div>
   </div>
</footer>