  	<header id = "header-bar"  >
  		<div id="aba-topo">	
  				<p id="portfolio-topo"> PORTFÓLIO</p>
		   <nav role="navigation" id="navbar-topo">
			<%= link_to "INICIO", root_path, :class =>"btn btn-outline-light btn-md" %> 
			<%= link_to "SOBRE", pages_about_path, :class =>"btn btn-outline-light btn-md" %> 
			<%= link_to "PROJETOS", pages_projects_path, :class =>"btn btn-outline-light btn-md" %> 
			<%= link_to "CONTATO", pages_contacts_path, :class =>"btn btn-outline-light btn-md" %> 
			</nav>
        </div>
		<script>  window.addEventListener('scroll',() => {
  
    var navbar = document.getElementById('header-bar');
    const scrolled = window.scrollY;
    
    if (scrolled >= 20){
      navbar.classList.add ('sticky-top');
  
    }else {
      navbar.classList.remove ('sticky-top');
  
    }
  
  
   });</script>
  	</header>