  	<header class="hidden-objects">
  		<div id="aba-topo">	
  				<p id="portfolio-topo"> PORTFÓLIO</p>
		   <nav role="navigation" id="navbar-topo">
			<button type="button" class="btn btn-outline-light btn-sm" >INICIO</button>
			<button type="button" class="btn btn-outline-light btn-sm" >SOBRE</button>
			<button type="button" class="btn btn-outline-light btn-sm" >PROJETOS</button>
			<button type="button" class="btn btn-outline-light btn-sm" >CONTATO</button>
			</nav>
        </div>
  	</header>